@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

* {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
    display: flex;
    font-size: 80px;
    justify-content: center;
    margin-top: 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 5svh;
}

.container__aside {
  width: 700px;
}

.container__form {
  display: flex;
  flex-flow: column;
  width: 700px;
  gap: 20px;
  padding: 20px;
  background-color: rgb(51, 168, 143);
  border-radius: 10px;
}

.container__item {
  display: flex;
  flex-flow: column;
}

.container__item-label {
  font-size: 25px;
  font-weight: bold;
  color: rgb(236, 243, 243);
}

.container__item-input {
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 20px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.buttons > button {
  width: 150px;
  height: 50px;
  font-size: 30px;
  border: 1px solid #08090f;
  border-radius: 4px;
  background-color: rgb(25, 85, 87);
  color: white;
  box-shadow: 0px 1px 3px black;
}

.buttons > a {
  text-decoration: none;
  color: black; 
  font-size: 30px;
  border: 1px solid rgb(70, 136, 161);
  padding: 6px 20px;
  border-radius: 5px;
  color: rgb(248, 248, 248);
  background-color: rgb(33, 75, 99);
  box-shadow: 0px 1px 3px black;
}

@media (max-width: 750px){

.container__aside{
  display: none;
}

h1{
  margin-top: 5vh;
  font-size: 40px;
}

.container__form{
  width: 350px;
  gap: 40px;

}

.buttons {
  gap: 25px;
}




}